# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!*.ks
!*.tjs
!*.yaml
!Data/*
!*.rb
!.gitignore
!README.md
!game.ini

# Images
!info01.png
!minfo_a.png
!minfo_b.png
!minfo_c.png
!minfo_d.png
!minfo_e.png
!minfo_f.png
!minfo_g.png
!minfo_h.png
!minfo_i.png
!minfo_j.png
!minfo_k.png
!minfo_l.png
!minfo_m.png
!minfo_n.png
!minfo_o.png
!minfo_p.png
!minfo_q.png
!minfo_r.png
!minfo_s.png
!minfo_t.png
!minfo_u.png
!minfo_v.png
!minfo_w.png
!minfo_x.png
!minfo_y.png
!minfo_z.png
!minfo_zz.png!
minfo_zzz.png